@import '../../../../../App.scss';

.login-form {
    padding-top: 20px;

    .input-field {
        padding-bottom: 20px;
    }

    .btn-submit {
        width: 100%;
        margin-top: 10px;
        background-color: $primary-pink;
    }
}